body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

#nav_left{
  width: 250px;
}

.bg-steel {
  background-color: #222;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    /*background-color: #353b48;*/
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: #cbd5db;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > form > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color: white;
    transition: width 0.4s linear;
    }

    .searchbar:hover > form > .search_icon{
    background: white;
    color: #222;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    }

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}