{% extends "blog/main.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/home.css' %}">

	<div class="content-section py-2 mx-auto row" style="width: 55%; background: white; margin: 5px">
		<div class="card-img-top col-sm-4" style="height: 150px; align-self: center; background:url({% static 'img/Boombang.svg' %}) no-repeat center; background-size: 150px;">
       	</div> 
		<form class="container col-sm-8" method="POST">
			{%  csrf_token %} <!-- <<< Protección contra ataques -->
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Login</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Login</button>
			</div>
			<div class="border-top pt-3">
				<small class="text-muted">
					Do not have an account? <a class="ml-2" href="{% url 'users-register' %}">Register here!</a>
				</small>
			</div>
		</form>	
	</div>
	
{% endblock %}
{% block footer %}
{% endblock %}